@charset "utf-8"
@font-face {
   font-family: Champagne;
   src:url('cac_champagne.woff') format();
   url:('cac_champagne.ttf') format();

   font-family: Grunge;
   src: url('1942.woff') format(),
   src:url('1942.ttf') format();

   font-family: Dobkin;
   src: url('DobkinPlain.woff')
   src: url('DobkinPlain.ttf')

}

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 1
   
   PHCT Typographic Style Sheet
   Author: William Myre
   Date:   2-22-22
   
   Filename: ph_styles.css

*/


/* Structural Styles */

body {
    background-color: rgb(143, 152, 134);
   font-family: 'Palatino Linotype','Book Antiqua', Palatino, serif;
}
header {
   background: black;
}
p {
   margin: 0px;
   padding-top: 15px;
   padding-left: 25px;
   padding-right: 25px;
   padding-bottom: 25px;
}
body > p {
   font-size: 1.1em;
   text-align: center;
}
address {
   font-style: normal;
   font-size: 0.9em;
   text-align: center;
   padding-top: 10px;
   padding-bottom: 10px;
}

/* Navigation Styles */

nav a{
   font-family: 'Trebuchet MS', Helvetica, sans-serif;
   padding-top: 10px;
   padding-bottom: 10px;
}
nav a:link nav:visited {
   color: white;
   text-decoration: none;
}
nav a:link nav:active {
   color: hsla(0, 0%, 100%, 0.7);
   background-color: hsla(0, 0%, 42%, 0.7);
}


/* Section Styles */

section.playbill h1 {
   font-size: 3em;
   font-weight: normal;
   margin: 0;
   padding-top: 20;
   padding-right: 0;
   padding-left: 20;
   padding-bottom: 10;
}
#play1 {
   background-color: hsl(240, 100%, 88%);
}
#play1 h1 {
   font-family: Champagne,cursive;
}
#play2 {
   background-color: hsl(25, 88%, 73%);
}
#play2 h1 {
   font-family: Grunge, 'Times New Roman', Times, serif;
}
#play3 {
   background-color: hsl(0, 100%, 75%);
}
#play3 h1 {
   font-family: Impact, Charcoal, Sans-serif;
}
#play4 {
   background-color: hsl(296, 86%, 86%);
}
#play4 h1 {
   font-family: Dobkin, Cursive;
}
/* Description List Styles */

dt {
   font-size: 1.3em;
   font-weight: bold;
   color: hsla(0, 0%, 0%, 0.4);
}
dd {
   font-size: 1.3em;
   margin-left: 0;
   margin-bottom: 10px;
}