@charset "utf-8"
@font-face {
   font-family:Champagne face;
   src: url(cac_champagne.ttf);
   src: url(cac_champagne.woff);
}

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 1
   
   PHCT Typographic Style Sheet
   Author: William Myre
   Date:   2-22-22
   
   Filename: ph_styles.css

*/


/* Structural Styles */




/* Navigation Styles */




/* Section Styles */




/* Description List Styles */

