@charset "utf-8"
@font-face {
   font-family: Champagne;
   src:url('cac_champagne.woff') format(),
   url('cac_champagne.ttf') format();

   font-family: Grunge;
   src: url('1942.woff') format(),
   src:url('1942.ttf') format();

   font-family: Dobkin;
   src: url('DobkinPlain.woff')
   src: url('DobkinPlain.ttf')

}

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 1
   
   PHCT Typographic Style Sheet
   Author: William Myre
   Date:   2-22-22
   
   Filename: ph_styles.css

*/


/* Structural Styles */

body {
    background-color: rgb(143, 152, 134);
   font-family: 'Palatino Linotype','Book Antiqua', Palatino, serif;
}
header {
   background: black;
}
p {
   margin: 0px;
   padding-top: 15px;
   padding-left: 25px;
   padding-right: 25px;
   padding-bottom: 25px;
}
body > p {
   font-size: 1.1em;
   text-align: center;
}
address {
   font-style: normal;
   font-size: 0.9em;
   text-align: center;
   padding-top: 10px;
   padding-bottom: 10px;
}

/* Navigation Styles */

nav a{
   font-family: 'Trebuchet MS', Helvetica, sans-serif;
   padding-top: 10px;
   padding-bottom: 10px;
}
nav a:link nav:visited {
   color: white;
   text-decoration: none;
}


/* Section Styles */




/* Description List Styles */

