@charset "utf-8"
@font-face {
   font-family: Champagne;
   src:url('cac_champagne.woff') format(),
   url('cac_champagne.ttf') format();

   font-family: Grunge;
   src: url('1942.woff') format(),
   src:url('1942.ttf') format();

   font-family: Dobkin;
   src: url('DobkinPlain.woff')
   src: url('DobkinPlain.ttf')

}

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 1
   
   PHCT Typographic Style Sheet
   Author: William Myre
   Date:   2-22-22
   
   Filename: ph_styles.css

*/


/* Structural Styles */

style{

   background-color: hsl(91, 8%, 56%);
}


/* Navigation Styles */




/* Section Styles */




/* Description List Styles */

